
.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 1rem;
}
.galeria img{
    box-shadow: 0 0 20px rgb(0, 0, 0);
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.galeria img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

#PC img{
    max-width: 700px;
}

/* Procaroiota */
.procariota{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 1rem;
}
.procariota img{
    box-shadow: 0 0 20px rgb(0, 0, 0);
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.procariota img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

/* Eucariota */
.eucariotas{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 1rem;
}
.eucariotas img{
    box-shadow: 0 0 20px rgb(0, 0, 0);
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.eucariotas img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

.eucariota{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 1rem;
}
.eucariota img{
    box-shadow: 0 0 20px rgb(0, 0, 0);
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.eucariota img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}